# Mac
.DS_Store

# Build directory
build/
out/

# Xcode
*.xcodeproj

# Android
bin/
gen/
objs/
*.mk
!Android.mk
local.properties

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Textmate
.*.TM_*
